[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/Dasfaust/imgui.git
[submodule "submodules/gladogl"]
	path = submodules/gladogl
	url = https://github.com/Dasfaust/gladogl.git
[submodule "submodules/MemoryPool"]
	path = submodules/MemoryPool
	url = https://github.com/Dasfaust/MemoryPool.git
[submodule "submodules/concurrentqueue"]
	path = submodules/concurrentqueue
	url = https://github.com/Dasfaust/concurrentqueue.git
